<%
   let objOrdre = {
    '_id' : 'asc',
    'nom' : 'asc',
  'prenom' : 'asc',
  'ville' : 'asc',  
  'courriel' : 'asc',
  'telephone' : 'asc'
}


  if ( typeof cle !== 'undefined' && cle)
  {
      objOrdre[cle] =  ordre
  }

   
%>


<table class="tableau">
 <tr>
 <th><a href='/trier/id/<%= objOrdre._id %>'>ID</a></th>
 <th><a href='/trier/nom/<%= objOrdre.nom %>'>Nom</a></th> 
 <th><a href='/trier/prenom/<%= objOrdre.prenom %>'>Prenom</a></th>
 <th><a href='/trier/ville/<%= objOrdre.ville %>'>Ville</a></th>
 <th><a href='/trier/courriel/<%= objOrdre.courriel %>'>Courriel</a></th>
 <th><a href='/trier/telephone/<%= objOrdre.telephone %>'>Telephone</a></th>
 <th>Détruire</th> 
 <th>Modifier</th> 
 </tr>
 <% adresse.forEach(elm => {%>
 <tr id="<%= elm['_id'] %>">
 <td><%= elm._id %></td>
 <td contenteditable="true" '><%= elm.nom %></td>
 <td contenteditable="true" '><%= elm.prenom %></td>
 <td contenteditable="true" '><%= elm.ville %></td>
 <td contenteditable="true" '><%= elm.courriel %></td>
 <td contenteditable="true" '><%= elm.telephone %></td>
 <td style="background:linear-gradient(to bottom right, red, black);border:2px solid red;"><a href="/detruire/<%= elm._id %>" style="color:white;">Détruire</a></td>
 <td style="background:linear-gradient(to bottom right, yellow, green);border:2px solid green;"><a class='sauver' action="/modifier" style="color:black;" >Modifier</a></td>
 </tr>
 <% }) %>

<form style="display:none;" class='mon_formulaire' action="/modifier" name='mon_formulaire' id='mon_formulaire' method="POST" >
 <input style="display:none;" type = "hidden" placeholder="id" name = "_id" value=''> 
 <input style="display:none;" type = "text" placeholder="Nom" name = "nom"> 
 <input style="display:none;" type = "text" placeholder="Prénom" name = "prenom">
 <input style="display:none;" type = "text" placeholder="Ville" name = "ville">
 <input style="display:none;" type = "text" placeholder="Courriel" name = "courriel"> 
 <input style="display:none;" type = "text" placeholder="Téléphone" name = "telephone">
 <button style="display:none;" type="submit" value='Modifier'>Submit</button>
</form>

 </table>