<%
   let objOrdre = {
    '_id' : 'asc',
    'nom' : 'asc',
  'prenom' : 'asc',
  'ville' : 'asc',  
  'courriel' : 'asc',
  'telephone' : 'asc'
}


  if ( typeof cle !== 'undefined' && cle)
  {
      objOrdre[cle] =  ordre
  }

   
%>


<table class="tableau">
 <tr style="background-color: #050514;">
 <th><a href='/trier/id/<%= objOrdre._id %>'>ID</a></th>
 <th><a href='/trier/nom/<%= objOrdre.nom %>'>Nom</a></th> 
 <th><a href='/trier/prenom/<%= objOrdre.prenom %>'>Prenom</a></th>
 <th><a href='/trier/ville/<%= objOrdre.ville %>'>Ville</a></th>
 <th><a href='/trier/courriel/<%= objOrdre.courriel %>'>Courriel</a></th>
 <th><a href='/trier/telephone/<%= objOrdre.telephone %>'>Telephone</a></th>
 <th style="padding:0px;">Détruire</th> 
 <th style="padding:0px;">Modifier</th> 
 </tr>
 <% adresse.forEach(elm => {%>
 <tr id="<%= elm['_id'] %>">
 <td><%= elm._id %></td>
 <td contenteditable="true" '><%= elm.nom %></td>
 <td contenteditable="true" '><%= elm.prenom %></td>
 <td contenteditable="true" '><%= elm.ville %></td>
 <td contenteditable="true" '><%= elm.courriel %></td>
 <td contenteditable="true" '><%= elm.telephone %></td>
 <td style="background:linear-gradient(to bottom right, white, #ff9999);border:2px solid #ff9999;"><a href="/detruire/<%= elm._id %>" style="color:red;"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
 <td style="background:linear-gradient(to bottom right, yellow, lightgreen);border:2px solid lightgreen;"><a class='sauver' action="/modifier" style="color:green;" ><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a></td>
 </tr>
 <% }) %>

 </table>
 <script src="https://use.fontawesome.com/e64c71857d.js"></script>